/* css style sheet */

table {
			margin-left: auto;
			margin-right: auto;
		}


th {
			color: grey;
			background-color: #FF200;
		}
td {
			color: #FF2400;
			background-color: grey;
			font-style:italic;
		}		
li {		
			font-style: italic; 
			text-decoration: underline;
			color: #FF2400;
			background-color: grey;
		}
caption {
			color: white;
			background-color: grey;
		}
a		{
			text-decoration:none;
			color: #FF2400;
			background-color: grey;
		}
a:hover	{
			background-color: blue;
			color: yellow;
			text-decoration: underline;
			text-decoration-color: yellow;
		}

#members {
			font-family: fantasy;
		}


			
			