
td.header  {
	background-color: red;
	}
a.header 	{
	color: white;
	}
h1.header 	{
	color: gold;
    text-align: center	;
	background-color: red;
	font-family: fantasy ;
	}
/** Link  css **/
a:link		{
			text-decoration:underline;
			}
a:hover 	{
			font-weight:bold;
			}
a:active	{
			text-decoration: none;
			color:green;
			}
a:visited	{
			color: blue;
			}

/** closer css **/
td.closer	{
	color: white;
	background-color: pink;
	text-align: center;
	border:1px dotted blue;
			}
td.input {
	font-weight:bold;
		 }	
#closing {
	border:3px dotted green;
		}
#middle {
	background-color: gold;
		 }	